@tailwind base;
@tailwind components;
@tailwind utilities;


.horizontal-line {
    margin-left: auto;
    margin-right: auto;
    height: 1px;
  }

  @layer components {
    .sticky-navbar {
        @apply fixed top-0 left-0 right-0 z-50 transition-all duration-300;
    }

    .sticky-navbar.scrolled {
        @apply bg-white shadow-lg;
    }

    .sticky-navbar.scrolled .nav-li {
        @apply text-gray-800;
    }

    .nav-li {
        @apply text-white hover:text-[#2CB742] transition-colors duration-300;
    }
}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}





